@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#F5F5F5] text-zinc-900 font-sans antialiased;
    }
}

@layer utilities {
    .glass {
        @apply bg-white/80 backdrop-blur-md border-b border-black/5;
    }
}